/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-image: url(..//img/mario.gif);
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.mail-check-section,
.dice-game-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    padding: 1rem;
    border-radius: 50px;
}

h1 {
    color: #d81f20;
    font-family: 'VT323', monospace;
    font-size: 4rem;
}

h2, h3 {
    margin: 1rem 0;
}

h2 {
    color: #dca914;
}

h3 {
    color: #f5e47a;
}

p {
    margin-bottom: .5rem;
}

input {
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid #e8e4ba;
    padding: .2rem 1rem;
}

button {
    padding: .3rem 1rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    border: 3px solid #e8e4ba;
    transition: all .5s;
}

button:hover {
    background-color: #002b63;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.text-win {
    color: #51df05;
    font-size: 1.5rem;
}

.text-lose {
    color: #ff0000;
    font-size: 1.5rem;
}

.text-tie {
    color: #ffbf00;
    font-size: 1.5rem;
}

.text-results {
    color: yellow;
    font-size: 1.5rem;
}


/* Responsive Layouts */

/* XS Layout (from 0px to 576px */
@media screen and (max-width: 576px) {
    main {
        background-position: center;
    }

    .mail-check-section,
    .dice-game-section {
        width: 100%;
}
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 30px;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 40px;
    }
}